{% extends 'blog/base.html' %}

{% block content %}
<h1 class="loader">About me</h1>
<p class="loader" align="justify">Hi this is a blog writing web app with backend part written in python
using Django framework, the frontend is made and designed using HTML and CSS with some bootstrap
on top of it. It has got
various features like viewing blogs, comments etc. When you are not logged in.
Once you login (must be a superuser) you can write blogs by clicking on <i><b>New Post</b></i> button in the navbar, you get several
text editing options to use! This is done by using external CDN of <b>Medium Style Editor</b> (<a href="https://github.com/yabwe/medium-editor">Link to its
github</a>).
If you are stuck up and not getting ideas then you can easily save
your blog as a <b>draft</b>. You can later edit your draft and then post it for others to see.
Now, once a blog is posted people can <b>comment</b> on any blog (after login as a superuser).
After writing a comment you will be asked to verify the comment before posting.
A comment can be deleted if it is inappropriate.</p>

<p  align="justify">Hope you enjoy using this blog web app. Checkout all its cool stuffs!</p>

<p>Direct links to my <b>Github</b> and <b>Linkedin</b> profiles are available in the navbar above.</p>
<p align="right"><b>-SAHIL SINHA</b></p>


{% endblock %}
